* {
    margin: 0;
    padding: 0;
    background-color: #202532;
}

*{
    max-width: 1024px;
    margin top: 40px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/* ------------------- FLEXBOX START ------------------ */

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.color {
    flex-basis: 300px;
    flex-grow: 1;
}

.color_content {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex-basis: 300px;
    flex-grow: 2;
}


/* -------------------- FLEXBOX END ------------------- */

/* ------------------- SECTIONS START -------------------*/

#kontakt,
#scene,
#historie_ide,
#historiebeskrivelse,
#persona,
#moodboard,
#styletile
#scenografi
#layoutdiagram
#sekvensdiagram
#asset_liste
#test_dokumentation
#fernisering
#trello_backlog
#burndowncharts {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}



/* ------------------- SECTIONS END --------------------*/

/*------------------ COLUMNS START ---------------------*/

.column {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

/*------------------- COLUMNS END ---------------------*/


/*------------- TEXT STYLING START -----------------*/

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    padding-top: 25px;
    padding-bottom: 15px;
    color: whitesmoke;
}

h3 {
    font-family: 'Lora', serif;
    padding-top: 10px;
    color: whitesmoke;
}

p {
    padding-top: 20px;
    color: whitesmoke;
}


/*--------------- TEXT STYLING END ------------------*/
