* {
    margin: 0;
    padding: 0;
    background-color: #202532;
}


img {
    width: 100%;
}

/* ------------------- FLEXBOX START ------------------ */

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.top {
    flex-basis: 300px;
    flex-grow: 3;
}

.bottom {
    align-self: flex-end;
}

.column_wide {
    flex-basis: 300px;
    flex-grow: 2;
}

.column_narrow {
    flex-basis: 300px;
    flex-grow: 1;
}

.color {
    flex-basis: 300px;
    flex-grow: 1;
}

.color_content {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex-basis: 300px;
    flex-grow: 2;
}


/* -------------------- FLEXBOX END ------------------- */

/* ------------------- SECTIONS START -------------------*/

#kontakt,
#scene,
#historie_ide,
#historiebeskrivelse,
#persona,
#moodboard,
#styletile
#scenografi
#layoutdiagram
#sekvensdiagram
#asset_liste
#test_dokumentation
#fernisering
#trello_backlog
#burndowncharts {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}



/* ------------------- SECTIONS END --------------------*/

/*------------------ COLUMNS START ---------------------*/

.column_wide {
    flex-basis: 400px;
    flex-grow: 2;
    display: flex;
    padding-left: 20px;
}

.column_narrow {
    flex-basis: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.column {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 15px;
}

.column_content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*------------------- COLUMNS END ---------------------*/


/*------------- TEXT STYLING START -----------------*/

p {
    padding-top: 20px;
    color: whitesmoke;
}


/*--------------- TEXT STYLING END ------------------*/
